.cartbag {
  width: 330px;
  min-height: 400px;
  max-height: 600px;
  position: fixed;
  background-color: white;
  right: 5%;
  top: 0;
  z-index: 20;
  cursor: pointer;
  padding-top: 80px;
}
.price {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}
.buttons {
  display: flex;
  justify-content: space-between;
  padding: 32px 16px;
}
.quantity {
  padding: 32px 16px 0px 16px;
  font-size: 16px;
}
.total {
  font-size: 16px;
}
.quantity > span {
  font-weight: 500;
}
.noitems {
  text-align: center;
  padding-top: 230px;
  font-size: 15px;
  font-weight: 700;
}
.displaynone {
  display: none;
}
.centerText {
  line-height: calc(80px + 200px);
  text-align: center;
}
.totalitems {
  font-family: Raleway;
  font-size: 16px;
}
