.cart > h3 {
  font-weight: 500;
}
h3 > span {
  font-weight: 700;
  margin-left: 5px;
  font-family: Raleway;
}
.cart {
  margin-top: 70px;
}
.cartname {
  margin-bottom: 55px;
  font-size: 32px;
  font-family: Raleway;
  line-height: 40px;
  color: #1d1f22;
}
.line {
  width: 100%;
  background-color: #e5e5e5;
  height: 1px;
  margin-bottom: 24px;
}
.noitems {
  text-align: center;
  padding-top: 100px;
  font-size: 30px;
  font-weight: 700;
}
.productQuantity,
.totalPrice,
.tax {
  font-family: Raleway;
  color: #1d1f22;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
