.cartbag {
  width: 330px;
  min-height: 500px;
  max-height: 600px;
  position: fixed;
  background-color: white;
  right: 5%;
  top: 0;
  z-index: 20;
  cursor: pointer;
  padding-top: 90px;
}
.price {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}
.buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  margin: 30px 0;
}
.quantity {
  padding: 0 5%;
  font-size: 16px;
  margin-top: 20px;
}
.total {
  font-size: 16px;
}
.quantity > span {
  font-weight: 500;
}
.noitems {
  text-align: center;
  padding-top: 230px;
  font-size: 15px;
  font-weight: 700;
}
.displaynone {
  display: none;
}
.centerText {
  line-height: calc(80px + 250px);
  text-align: center;
}
