.cartitem {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.buttonswrapper {
  display: flex;
}
.buttons {
  position: relative;
  line-height: 290px;
  margin-right: 60px;
}

.plusbtn {
  position: absolute;
  top: 0;
  left: 50%;
  width: 45px;
  font-size: 25px;
  cursor: pointer;
  line-height: 45px;
  z-index: 10;
}

.minusbtn {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 45px;
  font-size: 25px;
  line-height: 45px;
  cursor: pointer;
}
.buttons > div {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 50%;
  text-align: center;
}

.bag-minusbtn,
.bag-plusbtn {
  width: 30px;
  font-size: 20px;
  line-height: 30px;
}
.bag-buttons {
  line-height: 120px;
  margin-right: 40px;
}
.bag-cartitem {
  padding: 10% 5%;
}

.bag-quantity {
  text-align: start;
  font-size: 14px;
  padding-left: 10px;
}
.bag-name {
  font-size: 16px;
  margin-bottom: 10px;
}

.currency {
  margin-top: 20px;
}
