.cartitem {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}
.buttonswrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: calc(100% - 57px);
}

.buttons {
  position: relative;
  line-height: 290px;
  margin-right: 60px;
}

.plusbtn {
  position: absolute;
  top: 0;
  left: 50%;
  width: 45px;
  font-size: 25px;
  cursor: pointer;
  line-height: 45px;
  z-index: 10;
  border: 1px solid #1d1f22;
}

.minusbtn {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 45px;
  font-size: 25px;
  line-height: 45px;
  cursor: pointer;
  border: 1px solid #1d1f22;
}
.buttons > div {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 50%;
  text-align: center;
}

.bag-minusbtn,
.bag-plusbtn {
  width: 24px;
  font-size: 20px;
  line-height: 24px;
  border: 1px solid #1d1f22;
}
.bag-minusbtn {
  position: absolute;
}

.bag-buttons {
  margin-right: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bag-buttons {
  line-height: 100%;
  text-align: center;
}
.bag-cartitem {
  padding: 0px 16px;
}

.bag-quantity {
  text-align: center;
  line-height: 45px;
  margin-left: -10px;
  font-size: 14px;
}
.quantity {
  width: 100px;
  height: 100px;
}
.bag-name {
  word-wrap: break-word;
  font-style: Light;
  font-size: 16px;
  font-weight: 300;
}

.currency {
  margin-top: 16px;
}
