.overlay {
  width: 330px;
  min-height: 730px;
  position: fixed;
  background-color: white;
  left: 65%;
  top: 0;
  z-index: 20;
  cursor: pointer;
}

.background {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 10;
}
