.overlay {
  background: rgb(95, 159, 95);
  width: 330px;
  height: 700px;
  position: fixed;
  border: 1px solid green;
  left: 65%;
  top: 0;
  z-index: 20;
  cursor: pointer;
}

.background {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 10;
}
