.button {
  width: 140px;
  height: 43px;
  background-color: white;
  cursor: pointer;
  border: 1px solid #1d1f22;
  text-decoration: none;
  line-height: 43px;
  text-align: center;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #1d1f22;
}
