.nav {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #ffffff;
  padding: 28px 0 32px;
  z-index: 100;
  position: sticky;
  top: 0;
}
.nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 234px;
}
nav > ul > li {
  position: relative;
  list-style-type: none;
  position: relative;
  font-size: 16px;
  height: 80px;
  width: 100%;
  margin-bottom: -4px;
  line-height: 80px;
}
nav > ul > li > * {
  position: absolute;
  text-decoration: none;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  letter-spacing: 1px;
}

nav > ul > li .active {
  color: green;
  border-bottom: 2px solid green;
}
.cartsection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.cartsection > * {
  font-size: 16px;
}
.logo {
  width: 35px;
  height: 35px;
}
.arrowbutton {
  all: unset;
  cursor: pointer;
  border: none;
}
.cartButton {
  border: none;
  cursor: pointer;
}
