.nav {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #ffffff;
  padding: 28px 0 32px;
  z-index: 100;
  position: sticky;
  top: 0;
}
.nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 234px;
}
nav > ul > li {
  position: relative;
  text-align: center;
  list-style-type: none;
  position: relative;
  font-size: 16px;
  height: 80px;
  width: 100%;
  margin-bottom: -4px;
  line-height: 80px;
}
nav > ul > li > * {
  position: absolute;
  text-decoration: none;
  width: 120%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #1d1f22;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

nav > ul > li .active {
  color: #5ece7b;
  border-bottom: 2px solid #5ece7b;
  font-weight: 600;
}
nav > ul > li .active {
  border-bottom: 2px solid #5ece7b;
}
.cartsection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.cartsection > * {
  font-size: 16px;
}
.logo {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 31px;
  height: 28px;
  margin-top: 12px;
}
.arrowbutton {
  all: unset;
  cursor: pointer;
  border: none;
}
.cartButton {
  position: relative;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  background: none;
}
.cartButton > div {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: black;
  font-size: 11px;
  color: white;
  top: -7px;
  right: -7px;
  line-height: 14px;
  text-align: center;
}
