.productswrapper {
  margin: 0 auto;
  max-width: 1800px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fit, 450px);
  gap: 50px;
}

.category {
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
  text-transform: capitalize;
}
