.wrapper > img {
  margin: 0 auto;
  width: 345px;
  height: 360px;
  display: flex;
  align-items: center;
}
.wrapper > p {
  padding: 5px 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
}

.productWrapper {
  position: relative;
  margin: 40px 0;
  width: 390px;
  height: 450px;
  padding: 20px;
}
.cartButton {
  background: #5ece7b;
  border-radius: 50%;
  z-index: 10;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 40px;
  right: 40px;
  border: none;
  font-size: 25px;
  color: white;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  opacity: 0;
}

.productWrapper:hover .cartButton,
.productWrapper:hover {
  box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.33);
  cursor: pointer;
  opacity: 1;
  transition: all 0.2s;
}
