.singleproductwrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.button {
  all: unset;
  width: 200px;
  height: 50px;
  background-color: aqua;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.images {
  object-fit: contain;
  width: 100px;
  height: 100px;
}
.imagebutton {
  all: unset;
  cursor: pointer;
}
.gallerywrapper {
  display: flex;
}

.imagewrapper {
  display: block;
}

.mainImage {
  object-fit: contain;
  width: 500px;
  height: 500px;
}
.priceWrapper {
  margin-top: 30px;
}
.price {
  margin-top: 45px;
}
.brand {
  font-weight: 400;
}
.description {
  inline-size: 360px;
}

@media screen and (max-width: 880px) {
  .mainImage {
    width: 400px;
    height: 400px;
  }
}
